In [ ]:
Your company is running a test that is designed to compare two different versions of the company’s website.

Version A of the website is shown to 60% of users, while version B of the website is shown to the remaining 40%.
The test shows that 8% of users who are presented with version A sign up for the company’s services, as compared to
4% of users who are presented with version B.

If a user signs up for the company’s services, what is the probability that she/he was presented with version A of
the website?

1. calculate the total sign up percentage (8% * 60)+(4% * 40) assuming the total number as 100
2. out of the total signup calculate what would be the percentage if signed up who are presented with version A (8% * 60)



answer: 75%

In [ ]:
You are given a list of tickers and their daily closing prices for a given period.

Implement the most_corr function that, when given each ticker daily closing prices, returns the pair of tickers that 
are the most highly (linearly) correlated by daily percentage change.


import pandas as pd
import numpy as np

def most_corr(prices):
    """
    :param prices: (pandas.DataFrame) A dataframe containing each ticker's 
                   daily closing prices.
    :returns: (container of strings) A container, containing the two tickers that 
              are the most highly (linearly) correlated by daily percentage change.
    """
    return None

#For example, the code below should print: ('FB', 'MSFT')
print(most_corr(pd.DataFrame.from_dict({
    'GOOG' : [
        742.66, 738.40, 738.22, 741.16,
        739.98, 747.28, 746.22, 741.80,
        745.33, 741.29, 742.83, 750.50
    ],
    'FB' : [
        108.40, 107.92, 109.64, 112.22,
        109.57, 113.82, 114.03, 112.24,
        114.68, 112.92, 113.28, 115.40
    ],
    'MSFT' : [
        55.40, 54.63, 54.98, 55.88,
        54.12, 59.16, 58.14, 55.97,
        61.20, 57.14, 56.62, 59.25
    ],
    'AAPL' : [
        106.00, 104.66, 104.87, 105.69,
        104.22, 110.16, 109.84, 108.86,
        110.14, 107.66, 108.08, 109.90
    ]
})))

In [2]:
import pandas as pd
df=pd.DataFrame.from_dict({
    'GOOG' : [
        742.66, 738.40, 738.22, 741.16,
        739.98, 747.28, 746.22, 741.80,
        745.33, 741.29, 742.83, 750.50
    ],
    'FB' : [
        108.40, 107.92, 109.64, 112.22,
        109.57, 113.82, 114.03, 112.24,
        114.68, 112.92, 113.28, 115.40
    ],
    'MSFT' : [
        55.40, 54.63, 54.98, 55.88,
        54.12, 59.16, 58.14, 55.97,
        61.20, 57.14, 56.62, 59.25
    ],
    'AAPL' : [
        106.00, 104.66, 104.87, 105.69,
        104.22, 110.16, 109.84, 108.86,
        110.14, 107.66, 108.08, 109.90
    ]
})

In [3]:
df.corr()

          GOOG        FB      MSFT      AAPL
GOOG  1.000000  0.799421  0.820544  0.853015
FB    0.799421  1.000000  0.858784  0.886750
MSFT  0.820544  0.858784  1.000000  0.894846
AAPL  0.853015  0.886750  0.894846  1.000000

In [5]:
df.pct_change(axis='columns')

    GOOG        FB      MSFT      AAPL
0    NaN -0.854038 -0.488930  0.913357
1    NaN -0.853846 -0.493792  0.915797
2    NaN -0.851481 -0.498541  0.907421
3    NaN -0.848589 -0.502050  0.891374
4    NaN -0.851928 -0.506069  0.925721
5    NaN -0.847688 -0.480232  0.862069
6    NaN -0.847190 -0.490134  0.889233
7    NaN -0.848692 -0.501336  0.944971
8    NaN -0.846135 -0.466341  0.799673
9    NaN -0.847671 -0.493978  0.884144
10   NaN -0.847502 -0.500177  0.908866
11   NaN -0.846236 -0.486568  0.854852

In [17]:
df.pct_change()

        GOOG        FB      MSFT      AAPL
0        NaN       NaN       NaN       NaN
1  -0.005736 -0.004428 -0.013899 -0.012642
2  -0.000244  0.015938  0.006407  0.002006
3   0.003983  0.023532  0.016370  0.007819
4  -0.001592 -0.023614 -0.031496 -0.013909
5   0.009865  0.038788  0.093126  0.056995
6  -0.001418  0.001845 -0.017241 -0.002905
7  -0.005923 -0.015698 -0.037324 -0.008922
8   0.004759  0.021739  0.093443  0.011758
9  -0.005420 -0.015347 -0.066340 -0.022517
10  0.002077  0.003188 -0.009100  0.003901
11  0.010325  0.018715  0.046450  0.016839

In [22]:
df = df.pct_change()
df.corr()

          GOOG        FB      MSFT      AAPL
GOOG  1.000000  0.834381  0.847520  0.858727
FB    0.834381  1.000000  0.878943  0.872889
MSFT  0.847520  0.878943  1.000000  0.861793
AAPL  0.858727  0.872889  0.861793  1.000000

In [23]:
df.corr()['AAPL'].nlargest(2)

AAPL    1.000000
FB      0.872889
Name: AAPL, dtype: float64

In [24]:
df.corr()['FB'].nlargest(2)

FB      1.000000
MSFT    0.878943
Name: FB, dtype: float64

In [25]:
df.corr()['MSFT'].nlargest(2)

MSFT    1.000000
FB      0.878943
Name: MSFT, dtype: float64

In [26]:
df.corr()['GOOG'].nlargest(2)

GOOG    1.000000
AAPL    0.858727
Name: GOOG, dtype: float64

In [31]:
df.corr().nlargest(2, df.columns, keep='all')

          GOOG        FB      MSFT      AAPL
GOOG  1.000000  0.834381  0.847520  0.858727
AAPL  0.858727  0.872889  0.861793  1.000000

In [80]:
import pandas as pd
def most_corr(prices):
    d={}
    df = prices
    df = df.pct_change()
    df.corr()
    l=df.columns.tolist()
    for c in range(len(l)-1):
        res=df[l[c]].corr(df[l[c+1]])
        d[round(res, 3)]=[l[c], l[c+1]]

    max_value = max(d)
    return d[max(d)]

In [81]:
most_corr(pd.DataFrame.from_dict({
    'GOOG' : [
        742.66, 738.40, 738.22, 741.16,
        739.98, 747.28, 746.22, 741.80,
        745.33, 741.29, 742.83, 750.50
    ],
    'FB' : [
        108.40, 107.92, 109.64, 112.22,
        109.57, 113.82, 114.03, 112.24,
        114.68, 112.92, 113.28, 115.40
    ],
    'MSFT' : [
        55.40, 54.63, 54.98, 55.88,
        54.12, 59.16, 58.14, 55.97,
        61.20, 57.14, 56.62, 59.25
    ],
    'AAPL' : [
        106.00, 104.66, 104.87, 105.69,
        104.22, 110.16, 109.84, 108.86,
        110.14, 107.66, 108.08, 109.90
    ]
}))

['FB', 'MSFT']

In [32]:
import numpy as np

# Create correlation matrix
corr_matrix = df.corr().abs()

# Select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

In [36]:
upper

      GOOG        FB      MSFT      AAPL
GOOG   NaN  0.834381  0.847520  0.858727
FB     NaN       NaN  0.878943  0.872889
MSFT   NaN       NaN       NaN  0.861793
AAPL   NaN       NaN       NaN       NaN

In [46]:
l=df.columns.tolist()

In [66]:

d={}
for c in range(len(l)-1):
    res=df[l[c]].corr(df[l[c+1]])
    d[round(res, 3)]=[l[c], l[c+1]]
    
# for k, v in d.items():
max_value = max(d)
d[max_value]
    
#     max_val = [ for k, v in dic.items() if v == max_value]
#     if max(d):
#         print(v)
    
#     df[df[c].corr(df['B'])

['FB', 'MSFT']

In [45]:
df.columns.tolist()

['GOOG', 'FB', 'MSFT', 'AAPL']